ASSIGNMENT2/uploads/*.jpg
ASSIGNMENT2/uploads/*.jpeg
ASSIGNMENT3/uploads/*.jpg
ASSIGNMENT3/uploads/*.jpeg
ASSIGNMENT4/uploads/*.jpg
ASSIGNMENT4/uploads/*.jpeg
ASSIGNMENT5/uploads/*.jpg
ASSIGNMENT5/uploads/*.jpeg
ASSIGNMENT6/uploads/*.jpg
ASSIGNMENT6/uploads/*.jpeg

